body { 
font-family: Arial, San-Serif; 
font-size: 100%; 
background-color: #005938;}

ul { 
margin: 0; 
padding: 0;} 

ul li { 
list-style-type: none;} 

a { 
text-decoration: none;} 

header { 
padding: 10px 0; 
background-color: #03b372;} 

h1,h2 { 
color: #ffffff; 
text-align: center;} 

nav { 
background-color: #00774b; 
border-color: #1e40af; 
min-height: 64px;}

nav li { 
float: left; 
width: 100px;} 

.nav_proj {
background-color: #00774b; 
border-color: #1e40af; 
min-height: 40px;}

.nav_proj a {
display: block; 
color: #000000; 
line-height: 2.5em; 
font-weight: bold; 
text-align: center;} 

.content-container {
display: flex;
justify-content: space-between;
align-items: flex-start;
gap: 20px;
margin-top: 5px;
padding: 0 20px;}

.Text_about_me {
flex: 1;
text-align: left;}

.Photo_about_me {
flex-shrink: 0;
text-align: right;}

.Photo_about_me img {
transform: scale(0.95); 
transition: .3c; 
max-width: 50%; 
width: 600px;
height: auto;         
display: inline-block;
border-radius: 15px;
box-shadow: 2px 3px 5px rgba(0,0,0,0.5);
margin:30px 30px 10px 10px;}

.Photo_about_me img:hover{ 
transform: scale(1); } 

.Photo_info {
flex-shrink: 0;
text-align: left;}

.Photo_info img {
transform: scale(0.95); 
transition: .3c; 
max-width: 50%; 
width: 600px;
height: auto;         
display: inline-block;
border-radius: 15px;
box-shadow: 2px 3px 5px rgba(0,0,0,0.5);
margin:30px 30px 10px 50px;}

.Photo_info img:hover{ 
transform: scale(1);} 

.Photo_Travels img {
transform: scale(0.95); 
transition: .3c; 
max-width: 35%; 
width: 250px;
height: auto;         
display: inline-block;
border-radius: 15px;
box-shadow: 2px 3px 5px rgba(0,0,0,0.5);
margin: 10px;}
.Photo_Travels img:hover{ 

transform: scale(1);}

nav a { 
display: block; 
color: #000000; 
line-height: 4em; 
font-weight: bold; 
text-align: center;} 

nav li a:hover { 
color: #FFFFFF; 
background-color: #01e08e;} 

p { 
font-size: 16px; 
line-height: 1.3em; 
margin-top: 0.1em; 
margin-bottom: 0; 
color: #FFFFFF;}

.Text_about_me h1{
font-family: 'Merriweather', serif;
font-size: 32px;
font-weight: 700;
color: #ffffff;
margin-bottom: 25px;
line-height: 1.2;
text-align: left;}

.custom-text_about_me{
font-family: 'Roboto', sans-serif;
font-size: 24px;
line-height: 1.7;
color: #f0f0f0;
margin-bottom: 20px;
font-weight: 300 ;}

.Text_info p{
font-family: 'Roboto', sans-serif;
font-size: 30px;
line-height: 1.7;
color: #f0f0f0;
margin-bottom: 20px;
font-weight: 300 ;
margin-top: 130px;
margin-right: 50px;}

.main {
display: flex;
justify-content: center;
gap: 40px;}

footer { 
background-color: #01784d; 
color: #FFFFFF; 
padding: 20px 0; 
margin-top: 30px;
text-align: center;} 